baseURL: "https://nicholas.cloud/"
languageCode: "en-us"
title: "Nicholas Whittaker"
enableEmoji: true
enableRobotsTXT: true
paginate: 5

taxonomies:
    tag: "tags"

# https://gohugo.io/getting-started/configuration-markup/#goldmark
markup:
    goldmark:
        renderer:
            unsafe: true
    highlight:
        # style: vs
        noClasses: false

# https://gohugo.io/getting-started/configuration/#configure-file-caches
caches:
    getjson:
        dir: :resourceDir/json
        maxAge: -1

params:
    color: "#9e3245"
