{{ $filename := path.Base .Destination }}
{{ $image := .Page.Resources.GetMatch $filename }}

{{ $text := .Text }}
{{ if eq $text "" }}
    {{ warnf "Expected alt text for %s in ./content/%s" .Destination .Page.File.Path }}
{{ else if eq $text "omit-alt-text" }}
    {{ $text = "" }}
{{ end }}

{{ if eq nil $image }}
    <!-- Don't do anything for externally-hosted images -->
    <img src="{{ .Destination }}" alt="{{ $text }}" loading="eager" />
{{ else if strings.HasSuffix $filename "svg" }}
    <!-- SVGs don't need lazy loading, we don't know dimesions anyway -->
    <img src="{{ .Destination }}" alt="{{ $text }}" loading="eager" />
{{ else }}
    {{ $preview := ($image.Resize "64x Linear jpg").Filter (images.GaussianBlur 1.5) }}
    {{ $destination := .Destination }}
    {{ $path := printf "content/%s%s" .Page.File.Dir $filename }}
    {{ with (imageConfig $path) }}
    <img src="{{ $destination }}" alt="{{ $text }}" loading="lazy" width="{{ .Width }}" height="{{ .Height }}" style="background-image: url('data:image/jpeg;base64,{{ base64Encode $preview.Content }}'); background-size: cover; background-position: center;" class="lazy-image-with-preview" />
    {{ end }}
{{ end }}
