body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

a {
  color: inherit;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #333;
  opacity: 0.84;
  color: #fff;
  z-index: 999;
}

header > * {
  text-align: center;
  text-decoration: none;
  flex: 0 1 128px;
  font-size: 100%;
  line-height: 100%;
  font-weight: 700;
}

header > *:hover {
  background-color: #888888;
}

footer {
  box-sizing: border-box;
  padding: 12px;
  text-align: center;
  background-color: #cccccc;
}

hgroup {
  box-sizing: border-box;
  padding: 24px;
  text-align: center;
  background-color: #006cab;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  box-sizing: border-box;
  margin: 16px auto;
  padding: 12px 24px;
  width: 90%;
  min-width: 300px;
  max-width: 800px;
  box-shadow: 0px 2px 10px #888888;
}

section > * {
  margin: 24px auto;
}

section > h1 {
  font-size: 36px;
}

section > h2 {
  font-size: 24px;
}

section > div {
  box-sizing: border-box;
  padding: 8px;
  box-shadow: 0px 2px 5px #888888;
}

section > div > * {
  font-size: 16px;
  font-weight: 400;
  margin: 4px;
}

section > div > h1 {
  font-size: 20px;
  font-weight: 700;
}

.button {
  position: relative;
  opacity: 0.84;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 3px;
  padding: 4px 8px;
  margin: 4px 2px;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.button:hover {
  top: -2px;
}

.button > a {
  text-decoration: none;
}

.github {
  background-color: #24292e;
}

.bitbucket {
  background-color: #0747a6;
}

.gitlab {
  background-color: #d14f36;
}

.twitter {
  background-color: #1da1f2;
}

.facebook {
  background-color: #3b5998;
}

.npm {
  background-color: #cb3837;
}

.linkedin {
  background-color: #0077b5;
}

.title-404 {
  height: 100vh;
}
