body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #1a99b5;
}

body > * {
  box-sizing: border-box;
  padding: 8px 0;
}

body > * > * {
  box-sizing: border-box;
  padding: 0 16px;
  margin: 0 auto;
  min-width: 300px;
  max-width: 800px;
}

a {
  color: inherit;
}

p,
li {
  line-height: 1.3em;
}

nav {
  background-color: #333;
}

nav > ul > li {
  padding-right: 24px;
  font-weight: 700;
  list-style-type: none;
  display: inline-block;
}

header,
footer,
nav {
  color: #fff;
}

main {
  background-color: #fff;
}

section {
  margin-bottom: 128px;
}

section > div {
  margin: 36px 0;
}

section > div > * {
  margin: 8px 0;
}

article > p > code,
article,
section {
  font-size: 1.2em;
}

article > p > span {
  display: block;
  text-align: center;
}

article > p > img {
  margin: 0 auto;
  display: block;
  max-width: 80%;
}

article > pre {
  margin: 16px auto;
  padding: 24px 16px;
  background-color: #fff;
  box-shadow: 0px 2px 5px #888;
  overflow: scroll;
  max-width: 600px;
}

.button {
  box-sizing: border-box;
  border-radius: 3px;
  padding: 8px 8px;
  white-space: nowrap;
  line-height: 2.4em;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.github {
  background-color: #24292e;
}

.bitbucket {
  background-color: #0747a6;
}

.gitlab {
  background-color: #d14f36;
}

.twitter {
  background-color: #1da1f2;
}

.facebook {
  background-color: #3b5998;
}

.npm {
  background-color: #cb3837;
}

.linkedin {
  background-color: #0077b5;
}

.email {
  background-color: #dd4f42;
}

.medium {
  background-color: #000000;
}

.soundcloud {
  background-color: #ff5500;
}
