<!DOCTYPE html>
<html lang="en">
    <head>
        {{ partial "meta.html" . }}

        <!-- prettier-ignore -->
        <link rel="stylesheet" type="text/css" href="{{ (resources.Get "main.css" | minify ).Permalink }}" />

        <style>
            main > div {
                padding: 0 8px;
            }

            h3 {
                margin-top: 80px; /* Create space between articles */
            }
        </style>
    </head>
    <body>
        {{ partial "nav.html" . }} {{ partial "header.html" . }}
        <main>
            <div class="constrain-width">
                {{ .Content }}
                <!--  -->
                {{ range .Data.Pages }}
                <h3>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </h3>
                <p><em>{{ .Date.Format "Jan 2, 2006"}}</em></p>
                <p>{{ .Description }}</p>
                {{ end }}
            </div>
        </main>
        {{ partial "footer.html" . }}
    </body>
</html>
