<!DOCTYPE html>
<html lang="en">
    <head>
        {{ partial "meta.html" . }}
        <meta property="og:type" content="article" />

        <!-- prettier-ignore -->
        <link rel="stylesheet" type="text/css" href="{{ (resources.Get "main.css" | minify ).Permalink }}" />
        <link rel="stylesheet" type="text/css" href="{{ (resources.Get "blog-article.css" | minify ).Permalink }}" />
    </head>
    <body>
        {{ partial "nav.html" . }} {{ partial "header.html" . }}
        <main>
            <div class="constrain-width pad-content">
                <article class="blog-article">
                    {{ .Content }}
                </article>
                {{ partial "utterances.html" . }}
            </div>
        </main>
        {{ partial "footer.html" . }}
    </body>
</html>
