<!DOCTYPE html>
<html lang="en">
    <head>
        {{ partial "meta.html" . }}
        <meta property="og:type" content="article" />
    </head>

    <!-- prettier-ignore -->
    <body>
    <table style="
        width: 100%;
        ">
        <tbody>
            <tr>
                <td>
                    <table align="center" style="
                        margin: 0 auto;
                        max-width: 800px;
                        box-sizing: border-box;
                        ">
                        <tbody>
                            <tr>
                                <td style="font-family: monospace;">
                                    <article>
                                        <h1>{{ .Title }}</h1>
                                        {{ .Content }}
                                    </article>
                                    <p style="display: flex; margin-top: 32px;">
                                        {{ if ne .PrevInSection nil }}
                                        <a style="color: inherit;" href="{{ .PrevInSection.Permalink }}"><< Previous</a>
                                        {{ end }}
                                        <span style="flex: 1;"></span>
                                        {{ if ne .NextInSection nil }}
                                        <a style="color: inherit;" href="{{ .NextInSection.Permalink }}">Next >></a>
                                        {{ end }}
                                    </p>
                                    <br/>
                                    <p>
                                        Published
                                        <a href="{{ .Permalink }}">{{ .Date.Format "02 Jan 2006" }}</a>
                                        by
                                        <a href="{{ .Site.BaseURL }}">Nicholas</a>
                                    </p>
                                    <p>
                                        <a href="https://nicholas.cloud/newsletter/subscribe/">Subscribe</a>
                                        to be notified when I publish a new newsletter issue!
                                    </p>
                                    <p>
                                        If you no longer want to receive emails, you can
                                        <a href="%mailing_list_unsubscribe_url%">unsubscribe</a>.
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    </body>
</html>
