<!-- prettier-ignore -->
{{ $color := .Site.Params.Color }}
{{ if isset .Params "color" }}
    {{ $color = .Params.Color }}
{{ end }}

<!DOCTYPE html>
<html lang="en">
    <!-- prettier-ignore -->
    <head>
        {{ partial "meta.html" . }}
        {{ block "css" . }} {{ end }}
        {{ partial "bundle-css.html" . }}
        <style>:root {--theme-color: {{ $color }};--theme-text-color: #fff;}</style>
    </head>
    <body>
        <header>
            <div class="constrain-width">
                <h1><a href="/">{{ .Site.Title }}</a></h1>
                <a href="/">
                    <!-- prettier-ignore -->
                    <img src="{{ ((resources.Get "favicon.png").Resize (printf "48x png %s" $color)).Permalink }}"/>
                </a>
            </div>
        </header>

        <div class="content">
            <div class="constrain-width">
                {{ partial "nav.html" . }}
                <main>{{ block "main" . }} {{ end }}</main>
            </div>
        </div>

        <footer>
            <div class="constrain-width">
                {{ partial "footer-icons.html" . }}
            </div>
        </footer>
    </body>
</html>
