<!-- prettier-ignore -->
{{ $title := .Title }}
{{ if and (eq .Kind "term") (eq .Data.Plural "tags") }}
{{ $title = printf "Posts tagged #%s" .Title }}
{{ end }}
<!-- prettier-ignore -->
{{ $favicon := resources.Get "favicon.png" }}
{{ $color := .Site.Params.Color }}
{{ if isset .Params "color" }}
    {{ $color = .Params.Color }}
{{ end }}

<!DOCTYPE html>
<html lang="en">
    <!-- prettier-ignore -->
    <head>
        <title>{{ $title }}</title>
        {{ partial "meta.html" . }}
        <link rel="apple-touch-icon" sizes="120x120" href="{{ ($favicon.Resize (printf "120x png %s" $color)).Permalink }}" />
        <link rel="apple-touch-icon" sizes="152x152" href="{{ ($favicon.Resize (printf "152x png %s" $color)).Permalink }}" />
        <link rel="apple-touch-icon" sizes="167x167" href="{{ ($favicon.Resize (printf "167x png %s" $color)).Permalink }}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ ($favicon.Resize (printf "180x png %s" $color)).Permalink }}" />
        <link rel="icon" sizes="96x96" href="{{ ($favicon.Resize (printf "96x png %s" $color)).Permalink }}" />
        <link rel="icon" sizes="16x16" href="{{ ($favicon.Resize (printf "16x png %s" $color)).Permalink }}" />
        <link rel="icon" sizes="32x32" href="{{ ($favicon.Resize (printf "32x png %s" $color)).Permalink }}" />
        {{ block "css" . }} {{ end }}
        {{ partial "bundle-css.html" . }}
        <style>
            :root {
                --theme-color: {{ $color }};
            }

            body {
                background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='{{ replace $color "#" "%23" }}' fill-opacity='0.1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            }

            @media (prefers-color-scheme: dark) {
                body {
                    background-image: none
                }
            }
        </style>
        {{ if eq .Site.BaseURL "https://nicholas.cloud/" }}
            <script async defer data-domain="nicholas.cloud" src="https://plausible.nicholas.cloud/js/plausible.js"></script>
            {{ if eq .Page.Kind "404" }}
            <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
            <script>plausible("404",{ props: { path: document.location.pathname } });</script>
            {{ end }}
        {{ end }}
    </head>
    <body>
        <nav>
            <ul class="constrain-width">
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/rss/">RSS</a></li>
                <!-- <li><a href="/newsletter/">Newsletter</a></li> -->
                {{ if .Site.IsServer }}
                <li><a href="/404.html">404</a></li>
                <li><a href="/blog/hello-world/">Test</a></li>
                {{ end }}
            </ul>
        </nav>

        <header>
            <div class="constrain-width">
                <h1>{{ $title }}</h1>
                {{ if .Description }}
                <h2>{{ .Description }}</h2>
                {{ end }}
            </div>
        </header>

        <main>
            <div class="constrain-width">{{ block "main" . }} {{ end }}</div>
        </main>

        <!-- prettier-ignore -->
        <footer>
            <div class="constrain-width">
                <div class="footer-icons">
                    <a href="/" aria-label="Go to the homepage">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <title>Go to the homepage</title>
                            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline>
                        </svg>
                    </a>
                    <a href="/rss/" aria-label="Subscribe to my RSS feed">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <title>Subscribe to my RSS feed</title>
                            <path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle>
                        </svg>
                    </a>
                    <a href="mailto:nicholas@nicholas.cloud" aria-label="Send me an email">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <title>Send me an email</title>
                            <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline>
                        </svg>
                    </a>
                    <a href="https://github.com/nchlswhttkr/" aria-label="Find me on GitHub">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <title>Find me on GitHub</title>
                            <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                        </svg>
                    </a>
                    <a href="https://twitter.com/nchlswhttkr/" aria-label="Find me on Twitter">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <title>Find me on Twitter</title>
                            <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
                        </svg>
                    </a>
                    <a href="https://linkedin.com/in/nchlswhttkr/" aria-label="Find me on LinkedIn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <title>Find me on LinkedIn</title>
                            <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle>
                        </svg>
                    </a>
                </div>
                <div class="footer-links">
                    <a href="/site/">About this website</a>
                    &bull;
                    <a href="/privacy/">Privacy</a>
                    &bull;
                    <a href="/archive/">Post archive</a>
                    &bull;
                    <a href="/about/#contact">Contact me</a>
                </div>
            </div>
        </footer>
    </body>
</html>
