{{ define "css" }}
<!-- prettier-ignore -->
{{ .Scratch.Add "css" "blog-article" }}
<style>
    #avatar {
        float: right;
        left: 0;
        transform: none;
        width: 200px;
    }
    @media (max-width: 599px) {
        #avatar {
            display: none;
        }
    }
</style>
<!-- prettier-ignore -->
{{ end }}

{{ define "main" }}
{{ $avatar := resources.Get "monty.jpg" }}
<article class="blog-article">
    <picture>
        <source srcset="{{ $avatar.Permalink }}" media="(min-width: 600px)" />
        <img id="avatar" alt="Avatar of Nicholas Whittaker" src="" />
    </picture>
    {{ .Content }}
</article>
{{ end }}
