{{ define "css" }}
<!-- prettier-ignore -->
<link rel="stylesheet" type="text/css" href="{{ (resources.Get "blog-article.css" | minify ).Permalink }}" />
<style>
    #avatar {
        float: right;
        left: 0;
        transform: none;
        width: 200px;
    }
    @media (max-width: 599px) {
        #avatar {
            display: none;
        }
    }
</style>
<!-- prettier-ignore -->
{{ end }}

{{ define "main" }}
<article class="blog-article">
    <picture>
        <source srcset="/media/monty.jpg" media="(min-width: 600px)" />
        <img id="avatar" alt="Avatar of Nicholas Whittaker" src="" />
    </picture>
    {{ .Content }}
</article>
{{ end }}
