{{ define "css" }}
<!-- prettier-ignore -->
{{ partial "bundle-css.html" ( slice "blog-list" "main" ) }}
{{ end }}

{{ define "main" }}
<div class="blog-list">
    {{ .Content }}
    <div class="spacer"></div>
    <!--  -->
    {{ range .Data.Pages }}
    <h3>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h3>
    <p class="post-details">
        {{ .Date.Format "2006-01-02" }} //
        <!--  -->
        {{ math.Ceil (div .WordCount 150.0) }} min read
        <!--  -->
        {{ if isset .Params "tags" }} // {{ end }}
        <!--  -->
        {{ range .Params.tags }}
        <a href="/tags/{{ . }}/">#{{ . }}</a>
        {{ end }}
    </p>
    {{ end }}
</div>
{{ end }}
