{{ define "css" }}
<!-- prettier-ignore -->
<link rel="stylesheet" type="text/css" href="{{ (resources.Get "blog-article.css" | minify ).Permalink }}" />
{{ if in .Content "class=\"highlight\"" }}
<link rel="stylesheet" type="text/css" href="{{ (resources.Get "highlight.css" | minify ).Permalink }}" />
{{ end }}
{{ end }}

{{ define "main" }}
<article class="blog-article">
    {{ if eq .Section "blog" }}
    <p class="foreword">
        Posted
        <a href="{{ .Permalink }}">{{ .Date.Format "January 02, 2006" }}</a>
    </p>
    {{ end }}
    <!--  -->
    {{ .Content }}
</article>
{{ end }}
