{{ define "css" }}
<!-- prettier-ignore -->
{{ if in .Content "class=\"highlight\"" }}
    {{ partial "bundle-css.html" ( slice "blog-article" "highlight" "main" ) }}
{{ else }}
    {{ partial "bundle-css.html" ( slice "blog-article" "main" ) }}
{{ end }}
{{ end }}
    
{{ define "main" }}
<article class="blog-article">
    {{ .Content }}
    <!--  -->
    {{ if eq .Section "blog" }}
    <p class="postscript">
        Posted
        <a href="{{ .Permalink }}">{{ .Date.Format "January 02, 2006" }}</a>
        {{ if isset .Params "tags" }}with tags{{ end }} {{ range .Params.tags }}
        <a href="/tags/{{ . }}/">#{{ . }}</a>
        {{ end }}
    </p>
    {{ end }}
</article>
{{ end }}
