{{ define "main" }}
<article class="blog-article">
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    {{ with .Description }}
    <p class="description">{{ . }}</p>
    {{ end }}
    <!--  -->
    {{ if not .Date.IsZero }}
    <!-- prettier-ignore -->
    <p class="post-details">
        Posted <a href="{{ .Permalink }}">{{ .Date.Format "January 02, 2006" }}</a>
        {{ if isset .Params "tags" }}with tags{{ end }} 
        {{ range .Params.tags }}
        <a href="/tags/{{ . }}/">#{{ . }}</a>
        {{ end }}
    </p>
    {{ end }}
    <!--  -->
    {{ .Content }}
</article>
{{ end }}
