.blog-article > * {
    margin: 24px 8px;
}

.blog-article > h2,
.blog-article > h3,
.blog-article > hr {
    margin-top: 48px;
}

.blog-article p,
.blog-article li {
    line-height: 1.3rem;
    font-size: 1rem;
}

.blog-article ul,
.blog-article ol {
    padding-left: 16px;
}

.blog-article li {
    padding: 4px 0;
}

.blog-article ul > li {
    list-style-type: square;
}

/*
Here's a nice hack to make images fill up the full page width.

Achieved by making images as wide as their containing paragraph with its margin,
and then centering it.
*/
.blog-article {
    overflow: hidden;
}
.blog-article img {
    max-width: calc(100% + 16px);
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    break-inside: avoid;
}

.blog-article .highlight {
    margin-left: 0;
    margin-right: 0;
}

.blog-article pre {
    padding: 16px;
    overflow: scroll;
}

.blog-article blockquote {
    margin-left: 8px;
    padding: 0 8px 0 16px;
    border-left: 2px solid var(--theme-color);
}

.blog-article .center-text {
    display: block;
    text-align: center;
}

.blog-article .twitter-tweet {
    width: unset !important; /* Isolated hack to override bad styling, sorry */
}
