/* CSS for list pages, which follow a very basic structure */

.blog-list {
    padding: 8px 0 16px;
}

.blog-list > h2,
.blog-list > h3,
.blog-list > p {
    margin: 0;
    padding: 8px 16px 0;
    line-height: 1.4rem;
}

.blog-list > h2,
.blog-list > h3 {
    padding-top: 24px;
}

.blog-list .post-details {
    font-family: monospace;
    color: var(--secondary-text-color);
    line-height: 1.6rem; /* a littie bit wider, for mobiles */
}

.blog-list .post-details:last-child {
    margin-bottom: 0;
}

.blog-list .post-details a {
    color: inherit;
}

.blog-list .blog-article {
    padding: 8px 16px 48px;
}
