/* CSS for markdown generated pages (blog posts, home pages, misc content...) */

/* MARGINS/SPACING */
.blog-article {
    padding: 16px;
}
.blog-article > * {
    margin: 0 0 16px;
    break-inside: avoid;
}
.blog-article > *:last-child {
    margin-bottom: 0;
}
.blog-article > h2,
.blog-article > h3 {
    margin-top: 64px;
}

/* TEXT AND INLINE MARKUP */
.blog-article > p,
.blog-article > ol > li,
.blog-article > ul > li,
.blog-article > aside > p,
.blog-article > aside > ul > li,
.blog-article > blockquote > p {
    line-height: 1.4rem;
}
.blog-article > p > code,
.blog-article > p > a > code,
.blog-article > ol > li > code,
.blog-article > ul > li > code {
    border-radius: 4px;
    padding: 0 4px;
    background-color: var(--secondary-background-color);
    overflow-wrap: anywhere;
}

/* LISTS */
.blog-article > ul,
.blog-article > ol,
.blog-article > aside > ul {
    padding-left: 32px;
}
.blog-article > aside > p + ul,
.blog-article > p + ul,
.blog-article > p + ol {
    margin-top: -8px; /* closer to leading paragraph */
}
.blog-article > ol > li,
.blog-article > ul > li {
    padding: 4px 0;
}
.blog-article > ul > li {
    list-style-type: square;
}

/*
A lovely little hack to make images/code blocks fill the page width. Make them
as wide as their container + padding, then centre with an offset and transform.
*/
.blog-article > p > img,
.blog-article > video,
.blog-article > .highlight {
    display: block;
    background-color: #fff; /* images with transparent backgrounds */
    max-width: calc(100% + 32px);
    height: auto;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

/* TABLES */
/* TODO use child selectors for this */
.blog-article table {
    display: block;
    overflow: auto;
    width: max-content;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.blog-article th,
.blog-article td {
    padding: 8px;
    border: 1px solid var(--text-color);
}
.blog-article thead,
.blog-article tr:nth-child(2n) {
    background-color: var(--secondary-background-color);
}

/* CODE BLOCKS */
.blog-article .highlight {
    width: calc(100% + 32px); /* Force blocks to occupy page width */
}
.blog-article .highlight pre {
    padding: 16px;
    overflow: scroll;
}
@media print {
    .blog-article pre {
        white-space: pre-wrap;
    }
}

/* BREAKS */
.blog-article > hr {
    border: 1px solid var(--text-color);
    margin: 0 16px 16px;
}

/* BLOCK QUOTES */
.blog-article > blockquote {
    padding-left: 16px;
    border-left: 2px solid var(--text-color);
}

/* used by the image-caption shortcode */
.blog-article .center-text {
    display: block;
    text-align: center;
}

/* TWITTER */
.blog-article .twitter-tweet {
    /* Isolated hack to override inline styling, sorry */
    width: unset !important;
    margin: 16px auto !important;
}

/* YOUTUBE/VIMEO */
.blog-article .youtube span,
.blog-article .vimeo span {
    margin-bottom: 4px;
}

.blog-article .youtube img,
.blog-article .vimeo img {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
}

/* BANDCAMP */
.blog-article > .bandcamp-mini-embed {
    margin: 16px auto;
    max-width: 400px;
}

/* ASIDE */
.blog-article > aside {
    color: var(--secondary-text-color);
    margin-bottom: 32px;
    font-family: monospace;
    font-style: italic;
}
.blog-article > aside > * {
    margin: 0 0 16px;
}

/* TWITTER */
.twitter {
    margin: 0 auto 16px;
    max-width: 428px;
    box-sizing: border-box;
    border: 2px solid var(--secondary-background-color);
    border-radius: 8px;
    padding: 12px;
}

.twitter-author,
.twitter-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.twitter-author > div {
    flex-grow: 1;
}

.twitter-author img {
    margin-right: 8px;
    border-radius: 50%;
}

.twitter > video,
.twitter > a > img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 4px auto;
    max-height: 400px;
}

.twitter > a > img {
    width: auto;
}

.twitter > video {
    width: 100%;
    background-color: #000;
}

.twitter-actions {
    margin-top: 16px;
}

.twitter-actions > a {
    margin-right: 12px;
}

.twitter-actions > a:last-of-type {
    margin-right: 0;
    flex-grow: 1;
    text-align: right;
}
