.blog-list {
    padding: 32px 16px;
}

.blog-list > * {
    margin: 0 0 16px;
}

.blog-list > *:last-child {
    margin-bottom: 0;
}

.blog-list .date {
    opacity: 0.8;
}

.blog-list .spacer {
    margin-top: 64px;
}
