.blog-list {
    padding: 32px 16px;
}

.blog-list > * {
    margin: 0 0 4px;
    line-height: 1.4rem;
}

.blog-list > *:last-child {
    margin-bottom: 0;
}

.blog-list .post-details {
    font-family: monospace;
    opacity: 0.8;
    margin-bottom: 24px;
}

.blog-list .post-details:last-child {
    margin-bottom: 0;
}

.blog-list .spacer {
    margin-top: 32px;
}
