.blog-article {
    padding: 32px 16px;
}

.blog-article > * {
    margin: 0 0 24px;
    break-inside: avoid;
}

.blog-article > *:last-child {
    margin-bottom: 0;
}

.blog-article > h2,
.blog-article > h3 {
    margin-top: 64px;
}

.blog-article p,
.blog-article li {
    line-height: 1.4rem;
}

.blog-article ul,
.blog-article ol {
    padding-left: 32px;
}

.blog-article li {
    padding: 4px 0;
}

.blog-article ul > li {
    list-style-type: square;
}

/*
A lovely little hack to make images/code blocks fill the page width. Make them
as wide as their container + padding, then centre with an offset and transform.
*/
.blog-article {
    overflow: hidden;
}

.blog-article img,
.blog-article video,
.blog-article .highlight {
    max-width: calc(100% + 32px);
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.blog-article .highlight {
    width: calc(100% + 32px); /* Only force code blocks wider, not images */
}

.blog-article pre {
    padding: 16px;
    overflow: scroll;
}

.blog-article table {
    display: block;
    overflow: auto;
    width: max-content;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.blog-article th,
.blog-article td {
    padding: 8px;
    border: 1px solid var(--text-color);
}

.blog-article thead,
.blog-article tr:nth-child(2n) {
    background-color: var(--secondary-background-color);
}

@media print {
    .blog-article pre {
        white-space: pre-wrap;
    }
}

.blog-article hr {
    border: 0px;
}

.blog-article blockquote {
    padding-left: 16px;
}

.blog-article .center-text {
    display: block;
    text-align: center;
}

.blog-article .twitter-tweet {
    /* Isolated hack to override inline styling, sorry */
    width: unset !important;
    margin: 16px auto !important;
}

.blog-article .postscript {
    padding-top: 24px;
    font-family: monospace;
}
