:root {
    --theme-text-color: #fff;
    --theme-color: #555d25;
    --text-color: #333;
    --background-color: #fff;
    --secondary-background-color: #eee;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #eee; /* just a little softer than #fff */
        --background-color: #333;
        --secondary-background-color: #555;
    }
}

body {
    margin: 0;
    font-family: sans-serif;
    color: var(--text-color);
}

@media (min-width: 600px) {
    body {
        background-image: var(--background-image),
            var(--preview-background-image);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        padding-bottom: 100vh;
    }

    header {
        padding-top: 20vh;
    }

    @media (prefers-color-scheme: dark) {
        body {
            background-image: linear-gradient(
                    rgba(0, 0, 0, 0.3),
                    rgba(0, 0, 0, 0.3)
                ),
                var(--background-image), var(--preview-background-image);
        }
    }
}

a {
    color: inherit;
}

p,
li,
code {
    font-size: 1rem;
}

header > *,
footer > *,
nav > * {
    color: var(--theme-text-color);
    background-color: var(--theme-color);
    box-sizing: border-box;
    padding: 16px;
}

nav li {
    padding-right: 16px;
    font-weight: 700;
    list-style-type: none;
    display: inline-block;
}

header h1,
header h2 {
    margin: 16px 0;
}

main > div {
    background-color: var(--background-color);
}

/* images with transparent backgrounds */
main img {
    background-color: #fff;
}

.constrain-width {
    margin: 0 auto;
    min-width: 300px;
    max-width: 800px;
}

.footer-icons {
    margin: 8px 0;
}

.footer-icons a {
    text-decoration: none;
    margin: 8px 16px 8px 0;
}
