:root {
    --theme-color: #006cab;
}

body {
    margin: 0;
    font-family: sans-serif;
    color: #333;
}

a {
    color: inherit;
}

hr {
    border: 0px;
    border-top: 2px solid var(--theme-color);
}

header,
footer {
    background-color: var(--theme-color);
}

header,
footer,
nav {
    color: #fff;
}

nav {
    background-color: #333;
}

header > div,
footer > div,
nav > ul {
    box-sizing: border-box;
    padding: 8px;
}

nav li {
    padding-right: 16px;
    font-weight: 700;
    list-style-type: none;
    display: inline-block;
}

main {
    padding: 16px 0;
}

@media (prefers-color-scheme: dark) {
    main {
        background-color: #333;
        color: #fff;
    }

    main img {
        background-color: #fff;
    }

    hr {
        border-top-color: #fff;
    }
}

.constrain-width {
    margin: 0 auto;
    min-width: 300px;
    max-width: 800px;
}

.footer-icons a {
    text-decoration: none;
    margin-right: 8px;
}
.footer-icons img {
    height: 24px;
}
