:root {
    --text-color: #333;
    --background-color: #fff;
    --soft-background-color: #ddd;
    --link-color: var(--theme-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #eee; /* just a little softer than #fff */
        --background-color: #333;
        --soft-background-color: #555;
        --link-color: #eee;
    }
}

/*****************/
/* BASE ELEMENTS */
/*****************/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

header,
.content,
footer {
    width: 100%;
    min-width: 300px;
    max-width: 810px;
}

header,
footer {
    max-width: 842px; /* simulates padding on main content */
    color: var(--theme-text-color);
    background-color: var(--theme-color);
    box-sizing: border-box;
    padding: 16px 16px 8px;
}

/*********/
/* LINKS */
/*********/
a {
    color: var(--link-color);
}

header a,
footer a,
header a:visited,
footer a:visited {
    color: inherit;
}

/**********/
/* HEADER */
/**********/
header > div {
    display: flex;
    justify-content: space-between;
}

header h2 {
    font-size: 24px;
    margin: 0;
}

header a {
    text-decoration: none;
}

header img {
    height: 24px;
}

/**********/
/* FOOTER */
/**********/
.footer-icons {
    margin: 0 0 8px;
}

.footer-icons a {
    text-decoration: none;
    margin-right: 16px;
}

/**************/
/* NAVIGATION */
/**************/
nav {
    flex-grow: 1;
    margin: 24px 0 0;
}

nav ul {
    margin: 0;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav li {
    font-weight: 700;
    list-style-type: none;
    margin: 4px 8px;
}

@media (min-width: 842px) {
    nav ul {
        display: block;
        padding: 0;
    }

    nav li {
        margin: 0 0 8px;
    }
}

/****************/
/* PAGE CONTENT */
/****************/
.content > .constrain-width {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main {
    width: 100%;
    max-width: 648px;
}
