<!DOCTYPE html>
<html lang="en">
    <head>
        {{ partial "meta.html" . }}

        <!-- prettier-ignore -->
        <link rel="stylesheet" type="text/css" href="{{ (resources.Get "main.css" | minify ).Permalink }}" />
        <style>
            main > div > * {
                padding: 0 16px;
            }
        </style>
    </head>
    <body>
        {{ partial "nav.html" . }} {{ partial "header.html" . }}
        <main>
            <div class="constrain-width pad-content">
                <h1><a href="/">Return Home?</a></h1>
                <p>This page does not exist.</p>
            </div>
        </main>
        {{ partial "footer.html" . }}
    </body>
</html>
