{{ define "main" }}
<article class="blog-article" style="text-align: center">
    <p>This page does not exist. Would you like to <a href="/">go home</a>?</p>
    <video
        autoplay="true"
        muted="true"
        playsinline="true"
        loop="true"
        height="896"
        width="896"
        src="https://nicholas.cloud/files/niko_dunk_negativus_core.mp4"
        style="
            margin: 16px auto;
            width: 100%;
            max-width: 398px;
            height: auto;
            transform: none;
            position: static;
        "
    ></video>
    <p>
        Animation by
        <a href="https://twitter.com/NegativusC/status/1543088173881778178"
            >Negativus_core</a
        >
    </p>
</article>
{{ end }}
