<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "meta.html" . }}
</head>

<body>
  {{ partial "header.html" . }}
  <main>

    <!-- ABOUT -->
    <section>
      {{ .Content }}
    </section>


    <!-- CONTACT -->
    <section>
      <h1>Contact</h1>
      <h2>Send me a postcard, drop me a line...</h2>
      {{ range .Site.Params.Identities }}
      <div class="button {{ lower .site }}">
        <a href="{{ .profile }}">{{ .site }}</a>
      </div>
      {{ end }}
    </section>


    <!-- EXPERIENCE -->
    <section>
      <h1>Experience</h1>
      <h2>
        For a full resume, please
        <a href="mailto:{{ .Site.Params.me.email }}?subject=RE: Resume">contact me personally</a>.
      </h2>

      <div>
        <h1>Monash University - eSolutions</h1>
        <h2>Junior Software Developer</h2>
        <h3><em>Jan 2018 - Present</em></h3>
        <p>
          Frontend/UX for <a href="https://monplan.github.io">MonPlan</a>, building accessible course planning for
          Monash University students and staff in an enterprise application.
        </p>
      </div>

      <div>
        <h1>CodeCamp</h1>
        <h2>Assistant Teacher</h2>
        <h3><em>Jun 2017 - Dec 2017</em></h3>
        <p>
          Educating kids in the logic of programming, and helping them to build their own games over the course of a
          holiday program.
        </p>
      </div>

      <!-- 
      <div>
        <h1>Company</h1>
        <h2>Position</h2>
        <h3><em>Duration</em></h3>
        <p>Description</p>
      </div>
       -->
    </section>


    <!-- PROJECTS -->
    <!-- <section class="block proj">
      <h1>Projects</h1>
      <h2>The home of all the beatiful code that I produce!</h2>
      <p>
        <em>This section is currently empty... how ominous...</em>
      </p>
    </section> -->


    <!-- BLOG -->
    <section id="blog">
      <h1>
        <a href="/blog">Blog</a>
      </h1>
      <h2>Browse the scribble collection!</h2>
      {{ range where .Data.Pages "Section" "blog" }}
      <div>
        <h1>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h1>
        <h2>{{ .Description }}</h2>
      </div>
      {{ end }}
    </section>


  </main>
  {{ partial "footer.html" . }}
</body>

</html>