<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "meta.html" . }}
</head>

<body>
  {{ partial "header.html" . }}
  <main>

    <!-- ABOUT -->
    <section>
      {{ .Content }}
    </section>




    <!-- EXPERIENCE -->
    <section>
      <h1>Experience</h1>
      <h2>
        For a full resume, please
        <a href="mailto:{{ .Site.Params.Me.Email }}?subject=RE: Resume">contact me personally</a>.
      </h2>

      <div class="experience">
        <h1>Monash University - eSolutions</h1>
        <p>Junior Software Developer, <em>Jan 2018 - Present</em></p>
        <p>
          Frontend/UX for <a href="https://monplan.github.io">MonPlan</a>, building accessible course planning for
          Monash University students and staff in an enterprise application.
        </p>
      </div>

      <div class="experience">
        <h1>CodeCamp</h1>
        <p>Assistant Teacher, <em>Jun 2017 - Dec 2017</em></p>
        <p>
          Educating kids in the logic of programming, and helping them to build their own games over the course of a
          holiday program.
        </p>
      </div>

      <!-- 
        <div class="experience">
          <h1>Company</h1>
          <p>Position, <em>Duration</em></p>
          <p>Description</p>
        </div>
      -->
    </section>

    <!-- CONTACT -->
    <section>
      <h1>Contact</h1>
      <h2>Send me a postcard, drop me a line...</h2>
      <p>
        <a href="mailto:{{ .Site.Params.Me.Email }}" class="button email">Email</a>
        {{ range .Site.Params.Identities }}
        <a href="{{ .profile }}" class="button {{ lower .site }}">{{ .site }}</a>
        {{ end }}
      </p>
    </section>

    <!-- PROJECTS -->
    <!-- <section class="block proj">
      <h1>Projects</h1>
      <h2>The home of all the beatiful code that I produce!</h2>
      <p>
        <em>This section is currently empty... how ominous...</em>
      </p>
    </section> -->


    <!-- BLOG -->
    <section id="blog">
      <h1>
        <a href="/blog">Blog</a>
      </h1>
      <h2>Browse the scribble collection!</h2>
      <p>
        I like to write down my thoughts and experiences every now and them, feel free to
        <a href="/blog">give them a read</a>.
      </p>
    </section>


  </main>
  {{ partial "footer.html" . }}
</body>

</html>