.blog-article > * {
  margin: 16px 0;
}

.blog-article p,
.blog-article li {
  line-height: 1.3em;
}

.blog-article code {
  font-size: 1.23em; /* <code/> blocks seem to use a smaller font-size */
}

.blog-article ul,
.blog-article ol {
  padding-left: 18px;
}

.blog-article li {
  margin: 8px 0;
}

.blog-article ul > li {
  list-style-type: square;
}

.blog-article img {
  display: block;
  margin: 8px auto;
  max-width: 95%;
  max-height: 60vh;
  box-shadow: 0px 2px 4px #333;
}

.blog-article pre {
  box-sizing: border-box;
  margin: 16px auto;
  padding: 16px;
  box-shadow: 0px 2px 5px #888;
  overflow: scroll;
  max-width: 800px;
}

.blog-article blockquote {
  padding: 0 0 0 16px;
  border-left: 2px solid var(--theme-color);
}

.blog-article .center-text {
  display: block;
  text-align: center;
}

.blog-article .twitter-tweet {
  margin: 0 auto;
}
