.resume {
  max-width: 680px;
}

.resume .contact {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.resume > p {
  margin: 12px 0;
}

.resume .contact > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
}

.resume .contact > a > img {
  height: 24px;
  min-width: 40px;
}

.resume .contact > a > p {
  margin: 0 0 0 8px;
  min-width: 200px;
}

.resume ul > li {
  list-style-type: square;
}

.resume h2,
.resume h3 {
  margin: 12px 0;
  color: var(--theme-color);
  text-align: center;
}

.resume p,
.resume li {
  line-height: 1.3em;
}

.resume li {
  padding: 2px 0;
}

.resume ul {
  padding-left: 20px;
  margin: 0 0 8px;
}

.resume .left-right-divide {
  margin-top: 16px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.resume .left-right-divide p {
  margin: 0 0 8px;
}

.resume .left-right-divide p:nth-child(1) {
  flex-grow: 1;
}

.resume .left-right-divide p:nth-child(2) {
  text-align: right;
}

p.resume-preamble {
  text-align: center;
  margin-bottom: 64px;
}

.print-page-break {
  display: none;
  margin-bottom: 0;
}

@media print {
  nav,
  header,
  footer,
  .hide-on-print {
    display: none;
  }

  main {
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  .resume .contact a,
  .resume .left-right-divide a {
    text-decoration: underline;
  }

  .resume .print-page-break {
    display: block;
    break-after: page;
  }
}
