<div class="contact">
  <a href="mailto:nchlswhttkr@gmail.com" target="_blank" rel="noreferrer">
    <img src="{{ .Site.BaseURL }}media/icons/email.svg" alt="Email" />
    <p>nchlswhttkr@gmail.com</p>
  </a>
  <a
    href="https://linkedin.com/in/nchlswhttkr"
    target="_blank"
    rel="noreferrer"
  >
    <img src="{{ .Site.BaseURL }}media/icons/linkedin.svg" alt="LinkedIn" />
    <p>linkedin.com/in/nchlswhttkr</p>
  </a>
  <a href="https://nchlswhttkr.com" target="_blank" rel="noreferrer">
    <img src="{{ .Site.BaseURL }}media/icons/website.svg" alt="Website" />
    <p>nchlswhttkr.com</p>
  </a>
  <a href="https://github.com/nchlswhttkr" target="_blank" rel="noreferrer">
    <img src="{{ .Site.BaseURL }}media/icons/github.svg" alt="GitHub" />
    <p>github.com/nchlswhttkr</p>
  </a>
</div>
