<button onclick="toggleClass()">Toggle message</button>
<p aria-label="Your special message appears here" id="target">
    Click the above button to show the message!&nbsp;
</p>

<style>
    .show-text::after {
        content: attr(aria-label);
        color: var(--theme-color);
        background-color: var(--light-color);
        font-weight: 700;
    }
</style>

<script>
    function toggleClass() {
        const target = document.getElementById("target");
        if (target.className) {
            target.className = "";
        } else {
            target.className = "show-text";
        }
    }
</script>
