<!-- TODO Make more params configurable (autoplay, loop, muted, playsinline) -->
<!-- prettier-ignore -->
{{ $poster := .Get "poster" }}
{{ $src := .Get "src" }}
{{ $width := .Get "width" }}
{{ $height := .Get "height" }}

<noscript>
<video
    {{ with (.Get "autoplay") }}autoplay{{ end }}
    {{ with (.Get "muted") }}muted="{{ . }}"{{ end }}
    {{ with (.Get "loop") }}loop="{{ . }}"{{ end }}
    {{ with (.Get "playsinline") }}playsinline{{ end }}
    width="{{ .Get "width" }}"
    height="{{ .Get "height" }}"
    data-poster="{{ .Get "poster" }}"
    data-src="{{ .Get "src" }}"
>
    {{ .Inner }}
</video>
</noscript>
<video
    {{ with (.Get "autoplay") }}autoplay{{ end }}
    {{ with (.Get "muted") }}muted="{{ . }}"{{ end }}
    {{ with (.Get "loop") }}loop="{{ . }}"{{ end }}
    {{ with (.Get "playsinline") }}playsinline{{ end }}
    width="{{ .Get "width" }}"
    height="{{ .Get "height" }}"
    data-poster="{{ .Get "poster" }}"
    data-src="{{ .Get "src" }}"
>
    {{ .Inner }}
</video>
<script>
    const video = document.currentScript.previousElementSibling;
    new IntersectionObserver(([entry], observer) => {
        if (!entry.isIntersecting) return;
        observer.disconnect();
        video.setAttribute("src", video.getAttribute("data-src"));
        video.setAttribute("poster", video.getAttribute("data-poster"));
    }).observe(video)
</script>

